body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #111;
  margin: 0;
}

#container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.square {
  width: 200px;
  height: 480px;
  background-color: #1d1d1d;
  margin: 2px;
  box-shadow: 0 0 2px #000;
  transition: 0.1s ease;
  &:hover {
    transition-duration: 0.1s;

  }
}
